{% load static %}
<table>
    <caption>{{ cuisine }} Items</caption>
    <thead>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <!-- Add more table headers as needed -->
        </tr>
    </thead>
    <tbody>
        {% for item in cuisine_items %}
            <tr>
                <td>{{ item.item_name }}</td>
                <td>{{ item.description }}</td>
                <!-- Add more table cells for additional item details -->
            </tr>
        {% endfor %}
    </tbody>
</table>
