<!-- contact.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Us - Restaurant Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    {% load static %}
    <style>
        /* Global Reset & Styling (same as home page) */

        /* Additional styling for the contact page */
        #contact h2 {
            font-size: 2em;
            margin-bottom: 15px;
        }

        #contact p {
            font-size: 1.1em;
        }
    </style>
</head>

<body>
    {% include 'header.html' %}

    <main>
        <section id="contact">
            <h2>Contact Us</h2>
            <p>
                For any inquiries, please feel free to contact us via email or phone.
            </p>
            <p>Email: <a href="mailto:info@amigosrestaurant.com">info@amigosrestaurant.com</a></p>
            <p>Phone: +1 (123) 456-7890</p>
        </section>

        <!-- Additional sections or content for the contact page if needed -->
    </main>

    <script>
        function toggleAccountDropdown() {
            var dropdown = document.getElementById('accountDropdown');
            dropdown.classList.toggle('visible');
        }
        var itemselected = document.getElementById('contactLink');
        // Change the background color
        itemselected.style.backgroundColor ="red";
    </script>
</body>

</html>
